<<<<<<< HEAD
.DerivationTable {
    height: 300px;
    width: 500px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.derivation-row{
    align-items: center;
    display: flex;
=======
.DerivationTable {
    max-height: 50%;
    max-width: 50%;
>>>>>>> f44dff9ad040f878f7ae2fd570b235eb2b5e5141
}