.DerivationTable {
    height: 300px;
    width: 500px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.derivation-row{
    align-items: center;
    display: flex;
}
.row1{
    margin-left: 1rem;
}

.row2{
    margin-top: 1rem;
}