.overflow{
    overflow: hidden;
}
.margin{
    margin-left: 3px;
}
.newCard{
    width: 258px;
    height: 100px;
    margin-bottom: 5px;
}
.newCard2{
    width: 300px;
    height: 120px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.newCard2last{
    width: 200px;
    height: 120px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.newCard2lastbutton{
    width: 200px;
    height: 120px;
    margin-bottom: 5px;
}
.newCard3{
    width: 240px;
    height: 120px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.newCard30{
    width: 395px;
    height: 120px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.font1 {
    align-items: center;
    font-size: 13px;
}
.font2 {
    align-items: center;
    font-size: 13px;
}
.font3 {
    align-items: center;
    font-size: 15px;
}
.font4 {
    align-items: center;
    font-size: 15px;
}
.font5 {
    align-items: center;
    font-size: 15px;
}
.treerow{
    align-items: center;
}
.placeholder{
    height: 2px;
    width: 95px;
}
.placeholder2{
    height: 2px;
    width: 70px;
}
.placeholder1row0{
    height: 2px;
    width: 330px;
}
.placeholder1treerow{
    height: 2px;
    width: 278px;
}
.placeholder2treerow{
    height: 2px;
    width: 360px;
}
.placeholder3treerow{
    height: 2px;
    width: 238px;
}
