

.unindented-row {
    align-items: center;
    display:flex;
}
.indented-row1 {
    align-items: center;
    display:flex;
    flex-direction: row;
    width: 75rem;
    height: 10rem;
}
.indented-row12 {
    align-items: center;
    display:flex;
    flex-direction: row;
    width: 80rem;
    height: 10rem;
}
.indented-row { 
    align-items: center;
    margin-left: 7rem;
    display: flex;
}
.newCard{
    width: 18.5rem;
    height: 8rem;
}
.newCard21 {
    width: 18rem;
    height: 9rem;
}
.newCard2{
    width: 14.25rem;
    height: 9rem;
}
.newCard22{
    width: 25rem;
    height: 9rem;
}
.newCard3{
    width: 16.5rem;
    height: 8rem;
}
.font1 {
    align-items: center;
    font-size: 16px;
}
.font2 {
    align-items: center;
    font-size: 14px;
}
.font3 {
    align-items: center;
    font-size: 20px;
}